<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@graph": [
  {
   "@type": "ContactPage",
   "@id": "https://oetwithdrhesham.co.uk/contact.html#webpage",
   "url": "https://oetwithdrhesham.co.uk/contact.html",
   "name": "Contact OET with Dr Hesham",
   "isPartOf": {
    "@id": "https://oetwithdrhesham.co.uk/#website"
   }
  },
  {
   "@type": "EducationalOrganization",
   "@id": "https://oetwithdrhesham.co.uk/#organization",
   "name": "OET with Dr Hesham",
   "url": "https://oetwithdrhesham.co.uk/",
   "logo": {
    "@type": "ImageObject",
    "url": "https://oetwithdrhesham.co.uk/assets/img/logo/platform-logo.png",
    "width": 320,
    "height": 90
   },
   "email": "support@oetwithdrhesham.co.uk",
   "founder": {
    "@id": "https://oetwithdrhesham.co.uk/#drhesham"
   },
   "sameAs": [
    "https://www.youtube.com/@drhesham222",
    "https://t.me/Oet_with_Hesham",
    "https://t.me/OET_Nursing_DrHesham",
    "https://www.facebook.com/groups/649430742699879"
   ],
   "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support",
    "email": "support@oetwithdrhesham.co.uk",
    "telephone": "+44-7961-725989",
    "availableLanguage": [
     "English",
     "Arabic"
    ],
    "url": "https://oetwithdrhesham.co.uk/contact.html"
   }
  },
  {
   "@type": "BreadcrumbList",
   "itemListElement": [
    {
     "@type": "ListItem",
     "position": 1,
     "name": "Home",
     "item": "https://oetwithdrhesham.co.uk/"
    },
    {
     "@type": "ListItem",
     "position": 2,
     "name": "Contact",
     "item": "https://oetwithdrhesham.co.uk/contact.html"
    }
   ]
  }
 ]
}
    </script>
